################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/GruposAleatoriosLibreria/obj/Debug/GruposAleatoriosLibreria.csprojAssemblyReference.cache
/GruposAleatoriosLibreria
/ProyectoFinalGruposAleatorios/bin/Debug
/ProyectoFinalGruposAleatorios/obj/Debug
